.informacion1{
    text-align: center;
}
.color{
    background-color: gold;
}
.colorMenu{
    background-color: goldenrod;
}
.colorCafe{
    background-color: rgba(221, 118, 21, 0.534);
}
.colorPastel3{
    background-color: bisque;
}
.colorFrutosRojos{
    background-color: rgba(175, 61, 84, 0.904);
}
.colorLatteVainilla{
    background-color: rgb(235, 194, 132);    
}
.colorAmericano{
    background-color: rgb(121, 116, 116);
}
.colorTeVerde{
    background-color: rgb(142, 212, 62);
}
.colorMantequilla{
    background-color: rgba(245, 191, 42, 0.788);
}
.colorPavoyQueso{
    background-color: peru;
}
.colorZanahoria{
    background-color: rgb(230, 105, 59);
}
.colorChispas{
    background-color: burlywood;
}